body{
	margin:60px;
	background: linear-gradient(to left, rgb(62, 206, 59), rgb(21, 71, 138));
}

img{
margin: 20px;
width:  200px;

}

div{
	margin: 10px
}


.Search{
	margin: 0px;
	position: relative;
	bottom:50px;
		text-transform: uppercase;
		
}


@font-face {
  font-family: 'Cosmology';
  src:url('Cosmology.ttf') format('ttf');
  }

#font{
	font-family: 'Cosmology';
	font-size: 60px;
}


#field{
	position: relative;
	bottom: 35px;
	height: 40px;
	border-radius: 7px 7px;
	border: solid green;
}


.robots{
	position: relative;
	bottom: 80px;
}